
.vs/DotNetFundamentals/DesignTimeBuild/.dtbcache.v2
.vs/DotNetFundamentals/v17/.futdcache.v1
.vs/DotNetFundamentals/v17/.suo
ClassLibrary1/obj/ConcatetionLogicLibrary.csproj.nuget.dgspec.json
ClassLibrary1/obj/ConcatetionLogicLibrary.csproj.nuget.g.props
ClassLibrary1/obj/ConcatetionLogicLibrary.csproj.nuget.g.targets
ClassLibrary1/obj/project.assets.json
ClassLibrary1/obj/project.nuget.cache
ConcatetionLogicLibrary/bin/Debug/netstandard2.0/ClassLibrary1.deps.json
ConcatetionLogicLibrary/bin/Debug/netstandard2.0/ClassLibrary1.dll
ConcatetionLogicLibrary/bin/Debug/netstandard2.0/ClassLibrary1.pdb
ConcatetionLogicLibrary/bin/Debug/netstandard2.0/ConcatetionLogicLibrary.deps.json
ConcatetionLogicLibrary/bin/Debug/netstandard2.0/ConcatetionLogicLibrary.dll
ConcatetionLogicLibrary/bin/Debug/netstandard2.0/ConcatetionLogicLibrary.pdb
ConcatetionLogicLibrary/ConcatetionLogic.cs
ConcatetionLogicLibrary/ConcatetionLogicLibrary.csproj
ConcatetionLogicLibrary/obj/ClassLibrary1.csproj.nuget.dgspec.json
ConcatetionLogicLibrary/obj/ClassLibrary1.csproj.nuget.g.props
ConcatetionLogicLibrary/obj/ClassLibrary1.csproj.nuget.g.targets
ConcatetionLogicLibrary/obj/ConcatetionLogicLibrary.csproj.nuget.dgspec.json
ConcatetionLogicLibrary/obj/ConcatetionLogicLibrary.csproj.nuget.g.props
ConcatetionLogicLibrary/obj/ConcatetionLogicLibrary.csproj.nuget.g.targets
ConcatetionLogicLibrary/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ConcatetionLogicLibrary/obj/Debug/net6.0/ClassLibrary1.AssemblyInfo.cs
ConcatetionLogicLibrary/obj/Debug/net6.0/ClassLibrary1.AssemblyInfoInputs.cache
ConcatetionLogicLibrary/obj/Debug/net6.0/ClassLibrary1.GeneratedMSBuildEditorConfig.editorconfig
ConcatetionLogicLibrary/obj/Debug/net6.0/ClassLibrary1.GlobalUsings.g.cs
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/ClassLibrary1.AssemblyInfo.cs
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/ClassLibrary1.AssemblyInfoInputs.cache
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/ClassLibrary1.assets.cache
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/ClassLibrary1.csproj.AssemblyReference.cache
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/ClassLibrary1.csproj.CoreCompileInputs.cache
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/ClassLibrary1.csproj.FileListAbsolute.txt
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/ClassLibrary1.dll
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/ClassLibrary1.GeneratedMSBuildEditorConfig.editorconfig
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/ClassLibrary1.pdb
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/ConcatetionLogicLibrary.AssemblyInfo.cs
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/ConcatetionLogicLibrary.AssemblyInfoInputs.cache
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/ConcatetionLogicLibrary.assets.cache
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/ConcatetionLogicLibrary.csproj.AssemblyReference.cache
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/ConcatetionLogicLibrary.csproj.BuildWithSkipAnalyzers
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/ConcatetionLogicLibrary.csproj.CoreCompileInputs.cache
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/ConcatetionLogicLibrary.csproj.FileListAbsolute.txt
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/ConcatetionLogicLibrary.dll
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/ConcatetionLogicLibrary.GeneratedMSBuildEditorConfig.editorconfig
ConcatetionLogicLibrary/obj/Debug/netstandard2.0/ConcatetionLogicLibrary.pdb
ConcatetionLogicLibrary/obj/project.assets.json
ConcatetionLogicLibrary/obj/project.nuget.cache
ConsoleApp/obj/ConsoleApp.csproj.nuget.dgspec.json
ConsoleApp/obj/ConsoleApp.csproj.nuget.g.props
ConsoleApp/obj/Debug/net6.0/ConsoleApp.assets.cache
ConsoleApp/obj/Debug/net6.0/ConsoleApp.csproj.AssemblyReference.cache
ConsoleApp/obj/Debug/net6.0/ConsoleApp.GeneratedMSBuildEditorConfig.editorconfig
ConsoleApp/obj/project.assets.json
ConsoleApp/obj/project.nuget.cache
UserInteractiveForm/bin/Debug/net6.0-windows/ConcatetionLogicLibrary.dll
UserInteractiveForm/bin/Debug/net6.0-windows/ConcatetionLogicLibrary.pdb
UserInteractiveForm/bin/Debug/net6.0-windows/UserInteractiveForm.deps.json
UserInteractiveForm/bin/Debug/net6.0-windows/UserInteractiveForm.dll
UserInteractiveForm/bin/Debug/net6.0-windows/UserInteractiveForm.exe
UserInteractiveForm/bin/Debug/net6.0-windows/UserInteractiveForm.pdb
UserInteractiveForm/bin/Debug/net6.0-windows/UserInteractiveForm.runtimeconfig.json
UserInteractiveForm/obj/Debug/net6.0-windows/apphost.exe
UserInteractiveForm/obj/Debug/net6.0-windows/ref/UserInteractiveForm.dll
UserInteractiveForm/obj/Debug/net6.0-windows/refint/UserInteractiveForm.dll
UserInteractiveForm/obj/Debug/net6.0-windows/UserInteractiveForm.AssemblyInfo.cs
UserInteractiveForm/obj/Debug/net6.0-windows/UserInteractiveForm.AssemblyInfoInputs.cache
UserInteractiveForm/obj/Debug/net6.0-windows/UserInteractiveForm.assets.cache
UserInteractiveForm/obj/Debug/net6.0-windows/UserInteractiveForm.csproj.AssemblyReference.cache
UserInteractiveForm/obj/Debug/net6.0-windows/UserInteractiveForm.csproj.BuildWithSkipAnalyzers
UserInteractiveForm/obj/Debug/net6.0-windows/UserInteractiveForm.csproj.CopyComplete
UserInteractiveForm/obj/Debug/net6.0-windows/UserInteractiveForm.csproj.CoreCompileInputs.cache
UserInteractiveForm/obj/Debug/net6.0-windows/UserInteractiveForm.csproj.FileListAbsolute.txt
UserInteractiveForm/obj/Debug/net6.0-windows/UserInteractiveForm.csproj.GenerateResource.cache
UserInteractiveForm/obj/Debug/net6.0-windows/UserInteractiveForm.dll
UserInteractiveForm/obj/Debug/net6.0-windows/UserInteractiveForm.GeneratedMSBuildEditorConfig.editorconfig
UserInteractiveForm/obj/Debug/net6.0-windows/UserInteractiveForm.genruntimeconfig.cache
UserInteractiveForm/obj/Debug/net6.0-windows/UserInteractiveForm.GlobalUsings.g.cs
UserInteractiveForm/obj/Debug/net6.0-windows/UserInteractiveForm.pdb
UserInteractiveForm/obj/Debug/net6.0-windows/WinFormsApp1.UserInteractiveForm.resources
UserInteractiveForm/obj/project.assets.json
UserInteractiveForm/obj/project.nuget.cache
UserInteractiveForm/obj/UserInteractiveForm.csproj.nuget.dgspec.json
UserInteractiveForm/obj/UserInteractiveForm.csproj.nuget.g.props
UserInteractiveForm/obj/UserInteractiveForm.csproj.nuget.g.targets
UserInteractiveForm/UserInteractiveForm.csproj.user
